[Desktop Entry]
Name=Root Kit Hunter
Exec=Terminal -e "su -c 'rkhunter; bash'"
TryExec=rkhunter
Type=Application
Categories=System;Security;X-SecurityLab;X-IntrusionDetection;
