[Desktop Entry]
Name=pdfcrack
Exec=xfce4-terminal -e "su -c 'pdfcrack; bash'"
TryExec=pdfcrack
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
