[Desktop Entry]
Name=DNS tracer
Exec=Terminal -e "su -c 'dnstracer -h; bash'"
TryExec=dnstracer
Type=Application
Categories=System;Security;X-SecurityLab;X-General;
