[Desktop Entry]
Name=john
Exec=Terminal -e "su -c 'john; bash'"
TryExec=john
Type=Application
Categories=System;Security;X-SecurityLab;X-PasswordTools;
