[Desktop Entry]
Name=RootKitHunter
Exec=gnome-terminal -e "sh -c 'rkhunter; bash'"
TryExec=rkhunter
Type=Application
Categories=X-SecurityLab;X-IntrusionDetection;
