[Desktop Entry]
Name=ratproxy
Exec=xfce4-terminal -e "su -c 'ratproxy -h; bash'"
TryExec=ratproxy
Type=Application
Categories=System;Security;X-SecurityLab;X-WebApplicationTesting;
