[Desktop Entry]
Name=raddump
Exec=xfce4-terminal -e "su -c 'raddump -h; bash'"
TryExec=raddump
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
