[Desktop Entry]
Name=Socket cat
Exec=Terminal -e "su -c 'socat; bash'"
TryExec=socat
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
