[Desktop Entry]
Name=binwalk
Exec=Terminal -e "su -c 'binwalk -h; bash'"
TryExec=binwalk
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
