[Desktop Entry]
Name=ELF Examiner
Exec=xfce4-terminal -e "su -c 'examiner; bash'"
TryExec=examiner
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
