[Desktop Entry]
Name=ssldump
Exec=xfce4-terminal -e "su -c 'ssldump -h; bash'"
TryExec=ssldump
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
