[Desktop Entry]
Name=Ettercap
Exec=gnome-terminal -e "su -c 'ettercap -C; bash'"
TryExec=ettercap
Type=Application
Categories=X-SecurityLab;X-Reconnaissance;
