[Desktop Entry]
Name=wbox
Exec=xfce4-terminal -e "su -c 'wbox; bash'"
TryExec=wbox
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnanssance;
