[Desktop Entry]
Name=ssldump
Exec=Terminal -e "su -c 'ssldump -h; bash'"
TryExec=ssldump
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
