[Desktop Entry]
Name=sectool
Exec=Terminal -e "su -c 'sectool-gui; bash'"
TryExec=sectool-gui
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
