[Desktop Entry]
Name=wipe
Exec=xfce4-terminal -e "su -c 'wipe -h; bash'"
TryExec=wipe
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
