[Desktop Entry]
Name=tcpcopy
Exec=xfce4-terminal -e "su -c 'tcpcopy -h; bash'"
TryExec=tcpcopy
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
