[Desktop Entry]
Name=packETH
Exec=gnome-terminal -e "su -c 'packETH; bash'"
TryExec=packETH
Type=Application
Categories=X-SecurityLab;X-Reconnaissance;
