[Desktop Entry]
Name=packETH
Exec=xfce4-terminal -e "su -c 'packETH; bash'"
TryExec=packETH
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
