[Desktop Entry]
Name=wbox
Exec=Terminal -e "su -c 'wbox; bash'"
TryExec=wbox
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnanssance;
