[Desktop Entry]
Name=Rough Auditing Tool for Security
Exec=Terminal -e "su -c 'rats; bash'"
TryExec=rats
Type=Application
Categories=System;Security;X-SecurityLab;X-CodeAnalysis;
