[Desktop Entry]
Name=echoping
Exec=Terminal -e "su -c 'echoping -h; bash'"
TryExec=echoping
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnanssance;
