[Desktop Entry]
Name=wget File downloader
Exec=Terminal -e "su -c 'wget -h; bash'"
TryExec=wget
Type=Application
Categories=System;Security;X-SecurityLab;X-General;
