[Desktop Entry]
Name=scamper
Exec=xfce4-terminal -e "su -c 'scamper; bash'"
TryExec=scamper
Type=Application
Categories=System;Security;X-SecurityLab;X-NetworkStatistics;
