[Desktop Entry]
Name=psad
Exec=xfce4-terminal -e "su -c 'psad; bash'"
TryExec=psad
Type=Application
Categories=System;Security;X-SecurityLab;X-IntrusionDetection;
