[Desktop Entry]
Name=SSH client
Exec=xfce4-terminal -e "su -c 'ssh; bash'"
TryExec=openssh
Type=Application
Categories=System;Security;X-SecurityLab;X-General;
