[Desktop Entry]
Name=splint
Exec=xfce4-terminal -e "su -c 'splint; bash'"
TryExec=splint
Type=Application
Categories=System;Security;X-SecurityLab;X-CodeAnalysis;
