[Desktop Entry]
Name=arpon
Exec=xfce4-terminal -e "su -c 'arpon -h; bash'"
TryExec=ArpON
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
