[Desktop Entry]
Name=unicornscan
Exec=Terminal -e "su -c 'unicornscan -h; bash'"
TryExec=unicornscan
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
