[Desktop Entry]
Name=OpenVAS Client
Exec=xfce4-terminal -e "su -c 'openvas-client; bash'"
TryExec=openvas-client
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
