[Desktop Entry]
Name=dsniff
Exec=Terminal -e "su -c 'dsniff -h; bash'"
TryExec=dsniff
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
