[Desktop Entry]
Name=httping
Exec=Terminal -e "su -c 'httping -h; bash'"
TryExec=httping
Type=Application
Categories=System;Security;X-SecurityLab;X-WebApplicationTesting;
