[Desktop Entry]
Name=Foremost Filecarver
Exec=Terminal -e "su -c 'foremost -h; bash'"
TryExec=foremost
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
