[Desktop Entry]
Name=iperf
Exec=Terminal -e "su -c 'iperf -h; bash'"
TryExec=iperf
Type=Application
Categories=System;Security;X-SecurityLab;X-NetworkStatistics;
