[Desktop Entry]
Name=ncrack
Exec=Terminal -e "su -c 'ncrack -h; bash'"
TryExec=ncrack
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
