[Desktop Entry]
Name=pscan
Exec=xfce4-terminal -e "su -c 'pscan -h; bash'"
TryExec=pscan
Type=Application
Categories=System;Security;X-SecurityLab;X-CodeAnalysis;
