[Desktop Entry]
Name=wireshark
Exec=xfce4-terminal -e "su -c 'wireshark; bash'"
TryExec=wireshark-gnome
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
