[Desktop Entry]
Name=siege
Exec=xfce4-terminal -e "su -c 'siege -h; bash'"
TryExec=siege
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
