[Desktop Entry]
Name=gParted
Exec=xfce4-terminal -e "su -c 'gparted; bash'"
TryExec=gparted
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
