[Desktop Entry]
Name=Objectif Securite ophcrack
Exec=xfce4-terminal -e "su -c 'ophcrack; bash'"
TryExec=ophcrack
Type=Application
Categories=System;Security;X-SecurityLab;X-PasswordTools;
