[Desktop Entry]
Name=A Curl-like tool
Exec=xfce4-terminal -e "su -c 'httpie -h; bash'"
TryExec=httpie
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
