[Desktop Entry]
Name=nbtscan
Exec=xfce4-terminal -e "su -c 'nbtscan; bash'"
TryExec=nbtscan
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
