[Desktop Entry]
Name=tcpreplay
Exec=xfce4-terminal -e "su -c 'tcpreplay; bash'"
TryExec=tcpreplay
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
