[Desktop Entry]
Name=SMTP transaction tester
Exec=xfce4-terminal -e "su -c 'swaks; bash'"
TryExec=swaks
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnanssance;
