[Desktop Entry]
Name=scalpel
Exec=xfce4-terminal -e "su -c 'scalpel -h; bash'"
TryExec=scalpel
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
