[Desktop Entry]
Name=sqlninja
Exec=xfce4-terminal -e "su -c 'sqlninja; bash'"
TryExec=sqlninja
Type=Application
Categories=System;Security;X-SecurityLab;X-WebApplicationTesting;
