[Desktop Entry]
Name=Recover Syskey bootkey
Exec=Terminal -e "su -c 'bkhive; bash'"
TryExec=bkhive
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
