[Desktop Entry]
Name=iptraf-ng
Exec=gnome-terminal -e "su -c 'iptraf-ng; bash'"
TryExec=iptraf-ng
Type=Application
Categories=X-SecurityLab;X-Reconnaissance;
