[Desktop Entry]
Name=MAC address changer
Exec=Terminal -e "su -c 'macchanger; bash'"
TryExec=macchanger
Type=Application
Categories=System;Security;X-SecurityLab;X-General;
