[Desktop Entry]
Name=sqlninja
Exec=gnome-terminal -e "sh -c 'sqlninja; bash'"
TryExec=sqlninja
Type=Application
Categories=X-SecurityLab;X-WebApplicationTesting;
