[Desktop Entry]
Name=TCP stream sniffer
Exec=xfce4-terminal -e "su -c 'tcpick; bash'"
TryExec=tcpick
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
