[Desktop Entry]
Name=kismet
Exec=Terminal -e "su -c 'kismet; bash'"
TryExec=kismet
Type=Application
Categories=System;Security;X-SecurityLab;X-Wireless;
