[Desktop Entry]
Name=Network auth cracking tool
Exec=xfce4-terminal -e "su -c 'ncrack -h; bash'"
TryExec=ncrack
Type=Application
Categories=System;Security;X-SecurityLab;X-PasswordTools;
