[Desktop Entry]
Name=Nikto Websecurity Scanner
Exec=Terminal -e "su -c 'nikto -help; bash'"
TryExec=nikto
Type=Application
Categories=System;Security;X-SecurityLab;X-WebApplicationTesting;
