[Desktop Entry]
Name=paris-traceroute
Exec=Terminal -e "su -c 'paris-traceroute -h; bash'"
TryExec=paris-traceroute
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
