[Desktop Entry]
Name=Passive Asset Detection System
Exec=xfce4-terminal -e "su -c 'pads -h; bash'"
TryExec=pads
Type=Application
Categories=System;Security;X-SecurityLab;X-IntrusionDetection;
