[Desktop Entry]
Name=SNMP enumerator
Exec=Terminal -e "su -c 'snmpcheck; bash'"
TryExec=snmpcheck
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
