[Desktop Entry]
Name=hfsutils
Exec=xfce4-terminal -e "su -c 'hfsutils; bash'"
TryExec=hfsutils
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
