[Desktop Entry]
Name=scapy
Exec=Terminal -e "su -c 'scapy -h; bash'"
TryExec=scapy
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
