[Desktop Entry]
Name=Telnet
Exec=xfce4-terminal -e "su -c 'telnet --help; bash'"
TryExec=telnet
Type=Application
Categories=System;Security;X-SecurityLab;X-General;
