[Desktop Entry]
Name=nmap
Exec=xfce4-terminal -e "su -c 'nmap -h; bash'"
TryExec=nmap
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
