[Desktop Entry]
Name=pscan
Exec=Terminal -e "su -c 'pscan; bash'"
TryExec=pscan
Type=Application
Categories=System;Security;X-SecurityLab;X-CodeAnalysis;
