[Desktop Entry]
Name=ncrack
Exec=gnome-terminal -e "sh -c 'ncrack -h; bash'"
TryExec=ncrack
Type=Application
Categories=X-SecurityLab;X-Reconnaissance;
