[Desktop Entry]
Name=Network log-on cracker
Exec=xfce4-terminal -e "su -c 'hydra -h; bash'"
TryExec=hydra
Type=Application
Categories=System;Security;X-SecurityLab;X-PasswordTools;
