[Desktop Entry]
Name=unhide
Exec=xfce4-terminal -e "su -c 'unhide; bash'"
TryExec=unhide
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
