[Desktop Entry]
Name=Banner grabbing
Exec=Terminal -e "su -c 'bannergrab -h; bash'"
TryExec=bannergrab
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
