[Desktop Entry]
Name=Traffic monitor
Exec=Terminal -e "su -c 'vnstat -h; bash'"
TryExec=vnstat
Type=Application
Categories=System;Security;X-SecurityLab;X-NetworkStatistics;
