[Desktop Entry]
Name=scanssh
Exec=xfce4-terminal -e "su -c 'scanssh -h; bash'"
TryExec=sshscan
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
