[Desktop Entry]
Name=driftnet
Exec=Terminal -e "su -c 'driftnet -h; bash'"
TryExec=driftnet
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
