[Desktop Entry]
Name=ntop
Exec=Terminal -e "su -c 'ntop -h; bash'"
TryExec=ntop
Type=Application
Categories=System;Security;X-SecurityLab;X-NetworkStatistics;
