[Desktop Entry]
Name=proxychains
Exec=xfce4-terminal -e "su -c 'proxychains; bash'"
TryExec=proxychains
Type=Application
Categories=System;Security;X-SecurityLab;X-General;
