[Desktop Entry]
Name=nicstat
Exec=xfce4-terminal -e "su -c 'nicstat; bash'"
TryExec=nicstat
Type=Application
Categories=System;Security;X-SecurityLab;X-NetworkStatistics;
