[Desktop Entry]
Name=ratproxy
Exec=gnome-terminal -e "sh -c 'ratproxy -h; bash'"
TryExec=ratproxy
Type=Application
Categories=X-SecurityLab;X-WebApplicationTesting;
