[Desktop Entry]
Name=SNMP scanner
Exec=xfce4-terminal -e "su -c 'onesixtyone; bash'"
TryExec=onesixtyone
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
