[Desktop Entry]
Name=My traceroute
Exec=Terminal -e "su -c 'mtr -h; bash'"
TryExec=mtr
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
