[Desktop Entry]
Name=Securely erase disks
Exec=Terminal -e "su -c 'nwipe; bash'"
TryExec=nwipe
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
