[Desktop Entry]
Name=Traffic monitor
Exec=xfce4-terminal -e "su -c 'vnstat -h; bash'"
TryExec=vnstat
Type=Application
Categories=System;Security;X-SecurityLab;X-General;
