[Desktop Entry]
Name=tcpdump
Exec=xfce4-terminal -e "su -c 'tcpdump -h; bash'"
TryExec=tcpdump
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
