[Desktop Entry]
Name=halberd
Exec=xfce4-terminal -e "su -c 'halberd --help; bash'"
TryExec=halberd
Type=Application
Categories=System;Security;X-SecurityLab;X-WebApplicationTesting;
