[Desktop Entry]
Name=airsnort
Exec=Terminal -e "su -c 'airsnort; bash'"
TryExec=airsnort
Type=Application
Categories=System;Security;X-SecurityLab;X-Wireless;
