[Desktop Entry]
Name=Medusa Brute Force
Exec=xfce4-terminal -e "su -c 'medusa -d; bash'"
TryExec=medusa
Type=Application
Categories=System;Security;X-SecurityLab;X-PasswordTools;
