[Desktop Entry]
Name=nmap
Exec=Terminal -e "su -c 'zenmap-root; bash'"
TryExec=nmap-frontend
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
