[Desktop Entry]
Name=Firewalk
Exec=Terminal -e "su -c 'firewalk; bash'"
TryExec=firewalk
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
