[Desktop Entry]
Name=iftop
Exec=Terminal -e "su -c 'iftop; bash'"
TryExec=iftop
Type=Application
Categories=System;Security;X-SecurityLab;X-NetworkStatistics;
