[Desktop Entry]
Name=dhcping
Exec=Terminal -e "su -c 'dhcping; bash'"
TryExec=dhcping
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnanssance;
