[Desktop Entry]
Name=tripwire
Exec=xfce4-terminal -e "su -c 'tripwire; bash'"
TryExec=tripwire
Type=Application
Categories=System;Security;X-SecurityLab;X-IntrusionDetection;
