[Desktop Entry]
Name=Flawfinder
Exec=xfce4-terminal -e "su -c 'flawfinder; bash'"
TryExec=flawfinder
Type=Application
Categories=System;Security;X-SecurityLab;X-CodeAnalysis;
