[Desktop Entry]
Name=Debugging tool
Exec=xfce4-terminal -e "su -c 'scanmem; bash'"
TryExec=scanmem -h
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
