[Desktop Entry]
Name=skipfish
Exec=Terminal -e "su -c 'skipfish; bash'"
TryExec=skipfish
Type=Application
Categories=System;Security;X-SecurityLab;X-WebApplicationTesting;
