[Desktop Entry]
Name=testdisk
Exec=gnome-terminal -e "su -c 'testdisk -h; bash'"
TryExec=testdisk
Type=Application
Categories=X-SecurityLab;X-Forensics;
