[Desktop Entry]
Name=Yersinia
Exec=Terminal -e "su -c 'yersinia -G; bash'"
TryExec=yersinia
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
