[Desktop Entry]
Name=Apache Benchmark
Exec=xfce4-terminal -e "su -c 'ab -h; bash'"
TryExec=httpd-tools
Type=Application
Categories=System;Security;X-SecurityLab;X-StressTesting;
