[Desktop Entry]
Name=lynis
Exec=xfce4-terminal -e "su -c 'lynis; bash'"
TryExec=lynis
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
