[Desktop Entry]
Name=Securely erase disks
Exec=gnome-terminal -e "sh -c 'nwipe; bash'"
TryExec=nwipe
Type=Application
Categories=X-SecurityLab;X-Forensics;
