[Desktop Entry]
Name=dc3dd
Exec=xfce4-terminal -e "su -c 'dc3dd; bash'"
TryExec=dc3dd --help
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
