[Desktop Entry]
Name=Network analysis framework
Exec=Terminal -e "su -c 'bro -h; bash'"
TryExec=bro
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
