[Desktop Entry]
Name=aircrack-ng
Exec=xfce4-terminal -e "su -c 'aircrack-ng; bash'"
TryExec=aircrack-ng
Type=Application
Categories=System;Security;X-SecurityLab;X-Wireless;
