[Desktop Entry]
Name=nethogs
Exec=Terminal -e "su -c 'nethogs -h; bash'"
TryExec=nethogs
Type=Application
Categories=System;Security;X-SecurityLab;X-NetworkStatistics;
