[Desktop Entry]
Name=nfswatch
Exec=xfce4-terminal -e "su -c 'nfswatch -h; bash'"
TryExec=nfswatch
Type=Application
Categories=System;Security;X-SecurityLab;X-NetworkStatistics;
