[Desktop Entry]
Name=testdisk
Exec=Terminal -e "su -c 'testdisk -h; bash'"
TryExec=testdisk
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
