[Desktop Entry]
Name=DNS Enumeration
Exec=Terminal -e "su -c 'dnsenum -h; bash'"
TryExec=dnsenum
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
