[Desktop Entry]
Name=masscan
Exec=xfce4-terminal -e "su -c 'masscan -h; bash'"
TryExec=masscan
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
