[Desktop Entry]
Name=safecopy
Exec=xfce4-terminal -e "su -c 'safecopy -h; bash'"
TryExec=safecopy
Type=Application
Categories=System;Security;X-SecurityLab;X-Forensics;
