[Desktop Entry]
Name=rats - Rough Auditing Tool for Security
Exec=xfce4-terminal -e "su -c 'rats --help | more; bash'"
TryExec=rats
Type=Application
Categories=System;Security;X-SecurityLab;X-CodeAnalysis;
