[Desktop Entry]
Name=chkrootkit
Exec=Terminal -e "su -c 'chkrootkit; bash'"
TryExec=chkrootkit
Type=Application
Categories=System;Security;X-SecurityLab;X-IntrusionDetection;
