[Desktop Entry]
Name=dstat
Exec=xfce4-terminal -e "su -c 'dstat -h; bash'"
TryExec=dstat
Type=Application
Categories=System;Security;X-SecurityLab;X-SystemStatistics;
