[Desktop Entry]
Name=argus
Exec=xfce4-terminal -e "su -c 'argus -h; bash'"
TryExec=argus
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
