[Desktop Entry]
Name=Physical memory manipulation
Exec=Terminal -e "su -c 'incept --help; bash'"
TryExec=inception
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
