[Desktop Entry]
Name=DDoS Botnet Simulator
Exec=xfce4-terminal -e "su -c 'bonesi; bash'"
TryExec=bonesi
Type=Application
Categories=System;Security;X-SecurityLab;X-General;
