[Desktop Entry]
Name=ddrescue
Exec=gnome-terminal -e "sh -c 'ddrescue -h; bash'"
TryExec=ddrescue
Type=Application
Categories=X-SecurityLab;X-Forensics;
