[Desktop Entry]
Name=slowhttptest
Exec=xfce4-terminal -e "su -c 'slowhttptest -h; bash'"
TryExec=slowhttptest
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
