[Desktop Entry]
Name=aide
Exec=gnome-terminal -e "sh -c 'aide -h; bash'"
TryExec=aide
Type=Application
Categories=X-SecurityLab;X-IntrusionDetection;
