[Desktop Entry]
Name=zmap
Exec=xfce4-terminal -e "su -c 'zmap -h; bash'"
TryExec=zmap
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
