[Desktop Entry]
Name=sectool
Exec=gnome-terminal -e "sh -c 'sectool-gui; bash'"
TryExec=sectool-gui
Type=Application
Categories=X-SecurityLab;X-Forensics;
