[Desktop Entry]
Name=Network performance tool
Exec=Terminal -e "su -c 'uperf; bash'"
TryExec=uperf
Type=Application
Categories=System;Security;X-SecurityLab;X-NetworkStatistics;
