[Desktop Entry]
Name=Ettercap
Exec=Terminal -e "su -c 'ettercap -C; bash'"
TryExec=ettercap
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
