[Desktop Entry]
Name=Network performance tool
Exec=xfce4-terminal -e "su -c 'uperf; bash'"
TryExec=uperf
Type=Application
Categories=System;Security;X-SecurityLab;X-NetworkStatistics;
