[Desktop Entry]
Name=wavemon
Exec=xfce4-terminal -e "su -c 'wavemon; bash'"
TryExec=wavemon
Type=Application
Categories=System;Security;X-SecurityLab;X-Wireless;
