[Desktop Entry]
Name=tcpreen
Exec=xfce4-terminal -e "su -c 'tcpreen; bash'"
TryExec=tcpreen
Type=Application
Categories=System;Security;X-SecurityLab;X-Reconnaissance;
