[Desktop Entry]
Name=chkrootkit
Exec=gnome-terminal -e "su -c 'chkrootkit; bash'"
TryExec=chkrootkit
Type=Application
Categories=X-SecurityLab;X-IntrusionDetection;
