[Desktop Entry]
Name=tcpdump
Exec=gnome-terminal -e "su -c 'tcpdump -h; bash'"
TryExec=tcpdump
Type=Application
Categories=X-SecurityLab;X-Reconnaissance;
