[Desktop Entry]
Name=Snort
Exec=gnome-terminal -e "sh -c 'snort -h; bash'"
TryExec=snort
Type=Application
Categories=X-SecurityLab;X-IntrusionDetection;
