[Desktop Entry]
Name=Flawfinder
Exec=gnome-terminal -e "sh -c 'flawfinder; bash'"
TryExec=flawfinder
Type=Application
Categories=X-SecurityLab;X-CodeAnalysis;
