[Desktop Entry]
Name=skipfish
Exec=gnome-terminal -e "sh -c 'skipfish; bash'"
TryExec=skipfish
Type=Application
Categories=X-SecurityLab;X-WebApplicationTesting;
