[Desktop Entry]
Name=Securely Remove Files
Exec=gnome-terminal -e "sh -c 'srm -h; bash'"
TryExec=srm
Type=Application
Categories=X-SecurityLab;X-Forensics;
