[Desktop Entry]
Name=tcpjunk
Exec=gnome-terminal -e "sh -c 'tcpjunk -h; bash'"
TryExec=tcpjunk
Type=Application
Categories=X-SecurityLab;X-Reconnaissance;
