[Desktop Entry]
Name=unicornscan
Exec=gnome-terminal -e "su -c 'unicornscan -h; bash'"
TryExec=unicornscan
Type=Application
Categories=X-SecurityLab;X-Reconnaissance;
