[Desktop Entry]
Name=Medusa Brute Force
Exec=gnome-terminal -e "sh -c 'medusa -d; bash'"
TryExec=medusa
Type=Application
Categories=X-SecurityLab;X-PasswordTools;
