[Desktop Entry]
Name=dsniff
Exec=gnome-terminal -e "su -c 'dsniff -h; bash'"
TryExec=dsniff
Type=Application
Categories=X-SecurityLab;X-Reconnaissance;
