[Desktop Entry]
Name=Foremost Filecarver
Exec=gnome-terminal -e "sh -c 'foremost -h; bash'"
TryExec=foremost
Type=Application
Categories=X-SecurityLab;X-Forensics;
