[Desktop Entry]
Name=tripwire
Exec=gnome-terminal -e "sh -c 'tripwire --help; bash'"
TryExec=tripwire
Type=Application
Categories=X-SecurityLab;X-IntrusionDetection;
