[Desktop Entry]
Name=chkrootkit
Exec=gnome-terminal -e "sh -c 'chkrootkit; bash'"
TryExec=chkrootkit
Type=Application
Categories=X-SecurityLab;X-Forensics;
