body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 10px;
}
h1 {
	margin: 0;
	padding: 0;
	text-indent:-9999px;
	width: 255px;
	height: 10px;
}
h1 a {
	display: block;
	overflow: hidden;
	width: 255px;
	height: 50px;
}
a { 
	color: #fff;
	text-decoration: none;
}
a:hover { 
	color: #f00;
}
.small {
	font-size:10px;
}

#overlay {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #fff;
	padding: 2px;
	background: #000;
	width: 120px;
	border-top: solid 1px #d4d4d4;
	border-left: solid 1px #d4d4d4;
	border-right: solid 1px #666;
	border-bottom: solid 1px #666;	
	z-index:1;
}

fieldset {
	text-align: left;
	margin: 1px;
	padding: 5px;
	border:solid 1px #333;
}
fieldset * {
	text-align: left;
}
legend {
	color: #fc0;
	cursor: pointer;
	display: block;	
}

#control {
	text-align: center;
}
#control a {
	font-weight: bold;
	padding: 1px;
}

#thumbs, #thumbs1, #thumbs2 {
	text-align: center;
}
#thumbs a, #thumbs1 a, #thumbs2 a {
	display: block;
	line-height: 10px;
	float: left;
	width: 22px; 
	height: 22px;
}

#transition {
	width:100%;
}

#showtitle {
	z-index: 3;
	position: absolute;
	bottom: 20px;
	right: 20px;
	background: #000;
	display: none;
	color: #fff;
	padding: 10px;
	width: 275px;
	border-top: solid 1px #d4d4d4;
	border-left: solid 1px #d4d4d4;
	border-right: solid 1px #666;
	border-bottom: solid 1px #666;	
}

a.activeslide { background:red; }
/*
#superbgimage {
	display: none;
	background: #fff url('superbgloading.gif') center center no-repeat;
}
*/
#superbgimage img {
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
}