[Desktop Entry]
Name=snort
Exec=gnome-terminal -e "sh -c 'snort; bash'"
TryExec=snort
Type=Application
Categories=X-SecurityLab;X-IntrusionDetection;
