[Desktop Entry]
Name=testdisk
Exec=gnome-terminal -e "sh -c 'testdisk; bash'"
TryExec=testdisk
Type=Application
Categories=X-SecurityLab;X-Forensics;
